body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #eceef1;
  font-family: "Nunito Sans", serif;
}

.sign-in {
  display: flex;
  justify-content: right;
  float: right;
  padding: 5px 30px;
}
.signin-details p {
  font-size: 0.8rem;
  line-height: 1rem;
  color: #505050;
}
.signin-details a {
  text-decoration: none;
}
.sign-in button {
  background: #0077c5;
  border-radius: 4px;
  color: #fff;
  border: 1px solid #4c4c4c;
  padding: 0px 18px;
  height: 33px;
  margin-top: 13px;
  margin-left: 10px;
}
.container {
  align-items: center;
  justify-content: center;
  display: flex;
  clear: both;
}

.header {
  text-align: center;
  font-size: 2rem;
}

.header .title {
  text-decoration: none;
  color: #8d9096;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  font-size: 3rem;
}
.sub-title {
  display: flex;
  justify-content: center;
  margin: 4px 0px;
}
.round {
  display: flex;
  align-items: center;
  margin-right: 14px;
}
.round a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1rem;
  margin-right: 10px;
}
.round span {
  font-size: 1rem;
  color: #8d9096;
  font-weight: 600;
}
.round1 a {
  background: #00a6a4;
}
.round2 a {
  background: #2ca01c;
}
.round3 a {
  background: #d52b1e;
}

.form {
  margin-top: 20px;
  width: 400px;
}

form {
  background: white;
  border: 1px solid black;
  width: 100%;
  padding: 30px;
  align-items: center;
}
.title-container {
  text-align: center;
  margin-top: -20px;
  margin-bottom: 10px;
}

.email,
.phone,
.password {
  display: flex;
  flex-direction: column;
}

.form input {
  padding: 8px;
}
