body {
  background: #eceef1;
  box-sizing: border-box;
  color: #4c4c4c;
  font-family: "Nunito Sans", serif;
  margin: 0;
  padding: 0;
}

.sign-in {
  display: flex;
  float: right;
  justify-content: right;
  padding: 5px 30px;
}

.signin-details p {
  color: #505050;
  font-size: 0.8rem;
  line-height: 1rem;
}

.signin-details a {
  color: #0077c5;
  text-decoration: none;
}

.sign-in button {
  background: #0077c5;
  border: 1px solid #4c4c4c;
  border-radius: 4px;
  color: #fff;
  height: 33px;
  margin-left: 10px;
  margin-top: 13px;
  padding: 0 18px;
}

.container {
  align-items: center;
  clear: both;
  display: flex;
  justify-content: center;
}

.header {
  font-size: 2rem;
  text-align: center;
}

.header .title {
  color: #8d9096;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  text-decoration: none;
}

.sub-title {
  display: flex;
  justify-content: center;
  margin: 4px 0;
}

.round {
  align-items: center;
  display: flex;
  margin-right: 14px;
}

.round a {
  align-items: center;
  border-radius: 50%;
  color: #fff;
  display: flex;
  font-size: 1rem;
  height: 30px;
  justify-content: center;
  margin-right: 10px;
  width: 30px;
}

.round span {
  color: #8d9096;
  font-size: 1rem;
  font-weight: 600;
}

.round1 a {
  background: #00a6a4;
}

.round2 a {
  background: #2ca01c;
}

.round3 a {
  background: #d52b1e;
}

.form {
  border: 1px solid #c7c7c7;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 20px;
}

form {
  align-items: center;
  background: white;
  padding: 30px;
  width: 320px;
}

.title-container {
  margin-bottom: 10px;
  margin-top: -20px;
  text-align: center;
}

.form-title {
  color: #4c4c4c;
  font-size: 24px;
  font-weight: 400;
}

.form-sub-title {
  color: #4c4c4c;
  font-size: 1rem;
}

.form-sub-title a {
  color: #0077c5;
  text-decoration: none;
}

.email,
.phone,
.password {
  display: flex;
  flex-direction: column;
}

.form input {
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  height: 34px;
  margin: 6px 0 30px;
  padding: 0 8px 0 6px;
}

.phone-subtitle {
  color: #333;
  font-size: 10px;
  margin-bottom: 26px;
  margin-top: -24px;
}

.submit-btn {
  background: #0077c5;
  border: 1px solid #4c4c4c;
  border-radius: 4px;
  color: white;
  font-size: 0.95rem;
  font-weight: 600;
  margin: 40px 0;
  padding: 14px 0;
  width: 100%;
}

.agreement {
  color: #757575;
  font-size: 0.8em;
  font-style: italic;
  line-height: 1.4rem;
  padding: 8px 30px;
  text-align: center;
}

.agreement a {
  color: #0077c5;
  text-decoration: none;
}

.captcha {
  background: #f1f1f1;
  font-size: 0.6rem;
  margin: 0 0 5px;
  padding: 18px 0;
  text-align: center;
}

.captcha a {
  color: #0077c5;
  text-decoration: none;
}

footer {
  color: #505050;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 0.5rem;
  padding: 35px 0 20px;
  text-align: center;
}

.links a {
  color: #0077c5;
  padding: 0 10px;
  text-decoration: none;
}
